.container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

/* LEFT */
.left {
  flex: 1;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
}

.subtitle {
  color: #666;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.passwordRow {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.passwordRow a {
  color: #2563eb;
  text-decoration: none;
}

.form button {
  margin-top: 10px;
  padding: 12px;
  background: #1e3a8a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.register {
  margin-top: 20px;
  font-size: 14px;
}

.register a {
  color: #2563eb;
  text-decoration: none;
}

/* RIGHT */
.right {
  flex: 1;
  padding: 60px;
  color: white;
  background: linear-gradient(180deg, #0f172a, #0f766e);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.stats {
  margin-top: 40px;
  display: flex;
  gap: 30px;
  font-weight: bold;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .right {
    display: none;
  }

  .left {
    padding: 30px;
  }
}
